@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #FFFFFF;
    padding-left:5px;
    padding-right:5px;
    text-decoration: none;
}

nav a.router-link-active {
    color: #F29F05;
}

nav a:hover {
    color: #8C5F0A;
}

nav {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #2E2E2E;
}

.rounded-image {
    border-radius: 50%;
}

label {
    font-family: 'Poppins';
    font-weight:bold;
    color:black;
    font-size: 16px;
    text-align: left;
}

h1 {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: black;
    display: inline-block;
}

.row div[class*='col']{
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
}

#buttonSubmit{
    background-color: #F29F05;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    width: 250px;
    height: 40px;
    border-color: #F29F05;
    border-radius: 8px;
    border: solid;
    font-weight: 600;
}

.styleTitle{
    color:#F29F05;
}

input, select {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    font-family: 'Poppins';
    color:black;
    font-size: 16px;
    text-align: left;
}
#imageBack {
    width: 4%;
    height: 4%;
    padding-bottom: 20px;
}

.fondo{
    border-color: gray;
    background: #dbd7ce;
  }
tr{
    font-family: 'Poppins';
    font-weight:bold;
    color:black;
    font-size: 10px;
    text-align: left;
    background-color: rgba(211, 210, 210, 0.808);
}
#fil{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 10px;
    text-align: left;
    background-color: white;
}
#col{
    font-family: 'Inter', sans-serif;
    color:black;
    font-size: 10px;
    text-align: left;
    background-color: rgba(231, 231, 231, 0.801);
}

#tabla{
    padding-left: 60px;
    padding-right: 40px;
}

#link{
    color: #F29F05;
}
#imageSearch{
    width: 4%;
    height: 4%;
    padding-bottom: 3px;
    padding-left: 5px;
}
